
@tailwind base;

@tailwind components;

@tailwind utilities;



*{
  border-radius: 4px;
  text-decoration: none;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  }

.price{
  /* background-color: #000001; */
  color: #E47DC1;
}
.mainPic{
  grid-column: span 1;
  grid-row: span 2;
  border: solid black;
  
  
  }
  .carouselImage{
    border: solid black;
    max-width: 100px;
  }
  .paymentOptions{
    grid-column: 2;
    grid-row: 3;
    color:#E47DC1;
    /* background-color: #000001 ; */
   
}
.paymentOptions div{
  margin: 50px;
  height: 70%;
  width: 80%;
  color:#E47DC1;
  
  /* background-color:  #000001 ; */
}

.specs{
  grid-column: 2;
  grid-row: 2;
  /* background-color:  #000001 ; */
}