


*{
  border-radius: 4px;
  text-decoration: none;
 
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  }

.price{
  /* background-color: #000001; */
  border-bottom: 2px solid #8E3A8B;
 
}
.mainPic{
  grid-column: span 1;
  grid-row: span 2;
  border: solid black;
  
  
  }
  .carouselImage{
    border: solid black;
    max-width: 100px;
  }
  .paymentOptions{
    grid-column: 2;
    grid-row: 3;
    color:rgb(40, 38, 38);
    border-bottom: 2px solid #8E3A8B;
   
  
   
}
.paymentOptions div{
  margin: 50px;
  height: 70%;
  width: 80%;
  color:#E47DC1;
  border-bottom: 2px solid #8E3A8B;
  
}

.specs{
  grid-column: 2;
  grid-row: 2;
  /* background-color:  #000001 ; */
}