.priceSlide,
.customSourcing {
  width: 50%; /* Adjust the width as needed */
  max-width: 20vw;
  font-size: 1.2em; /* Adjust the font size as needed */
  margin: 0 auto; /* Center the element horizontally */
}

.customSourcing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  color: rgb(130, 6, 147);
}

.sourcingTitle {
  text-align: center;
  color: rgb(130, 6, 147);
  font-size: 1.5em; /* Adjust the font size as needed */
}

.desiredItem {
  width: 300px; /* Increased width */
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 1.2em; /* Adjust the font size as needed */
  margin: 0 auto; /* Center the element horizontally */
}
