.search-container {
    position: relative;
    display: inline-block;
    background-color: pink;
  }
  
  .results-container {
    background-color: #c7e4d7;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: smaller;
    color: rgb(81, 77, 77);
    padding: 10px;
    width: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
  }
  
  .result-item {
    
    display: flex;
    margin: 2px;
    align-items: end;
}
#thumbnails{
    max-height: 160px;
    max-width: 190px;
   
  
}
  