.search-container {
    position: relative;
    display: inline-block;
    background-color: none !important;
  }
  
  .results-container {
    position: absolute;
    top: 100%;
    left: 0;
    
    font-size: smaller;
    
   
 
    padding: 10px;
    width: 200px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
  }
  
  .result-item {
    
    display: flex;
    align-items: end;
    
  
  }
  