.container{
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-color: #8E3A8B;
    margin: auto;
    margin-top: 50px;
    height: 598px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 2px gray;
   

}
.picKristy{
    max-width: 450px;
    position: relative;
    top:40px;
    left: 25px;
    box-sizing: border-box;
    
   
}
#aboutBio{
    position: relative;
    max-width: 100%;
    max-height: 200px;
    font-size: 15px;
    top: 50px;
    left:10px;
    background-color: #8e3a8b; 
     color: #D3D3D3;
}

body{
    background-color: #F4D6D4;
}
