.container{
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-color: #8E3A8B;
    margin: auto;
    margin-top: 50px;
    height: 598px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 2px gray;

}
.picKristy{
    max-width: 450px;
    float: right;
    margin: 20px;
    position: absolute;
    right: 70px;
    box-sizing: border-box;
    
   
}
#aboutBio{
    max-width: 400px;
    font-size: 1em;
    margin-left: 90px;
    margin: 40px;
    margin-top: 100px;
    background-color: #8e3a8b; 
     color: rgb(0, 0, 1);
}

body{
    background-color: #F4D6D4;
}
